@import '../utility/variables';

.p-toc {
  background-color: $cLightGray;
  margin-bottom: 2rem;
  padding: 2rem;
  &__item {
    a {
      color: $cBlack;
    }
    &--3 {
      display: none;
    }
  }
}
