.c-btn {
  a {
    user-select: none;
  }
  &__menu {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $cBlack;
    width: 70px;
    height: 70px;
    z-index: 101;
    cursor: pointer;
    span {
      display: block;
      width: 28px;
      height: 2px;
      margin: 3px 0;
      background-color: $cWhite;
      transition: all .2s ease;
    }
    &.is-active {
      span {
        &:first-child {
          transform: rotate(45deg) translate(6px, 6px);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          transform: rotate(-45deg) translate(6px, -6px);
        }
      }
    }
  }
}
